extends ./layouts/main

block home
    h1 Hello coder Tokyo #{name}
    a(href="/users") User List
    br
    a(href="/users/create") Create a new user
    br
    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd1DRLw7VCu08aXg3HpV42pbimly2WoLncePGOnNBdXNhSMUioaQ")