* {
    color: #333;
    font-weight: 600;
}

.users-table tr th,
.users-table tr td {
    color: aliceblue !important
}

.user-list-title {
    display: inline-block;
    color: teal;
}

p.username {
    color: #fff;
    font-size: 18px;
    margin: 15px;
}

p.card-text.product-description {
    color: #a29898bf;
    font-size: 15px;
    font-weight: 100;
    margin: 0px 20px;
    height: 130px;
}